<div class="search-modal" id="searchModal" style="display: none;">
    <div class="search-modal-content">
        <div class="search-header">
            <div class="search-input-wrapper">
                <i class="fas fa-search"></i>
                <input type="text" id="modalSearch" placeholder="Search documentation..." autocomplete="off">
            </div>
            <button class="close-search" id="closeSearch">
                <i class="fas fa-times"></i>
            </button>
        </div>
        
        <div class="search-results" id="searchResults">
            <!-- Results will be dynamically populated -->
        </div>
        
        <div class="search-footer">
            <div class="search-tips">
                <span class="tip"><kbd>↑</kbd><kbd>↓</kbd> to navigate</span>
                <span class="tip"><kbd>↵</kbd> to select</span>
                <span class="tip"><kbd>ESC</kbd> to close</span>
            </div>
        </div>
    </div>
</div> 

<style>
    kbd {
        color: gray;
    }
</style>